vrrp_script chk_<%=@keepalived_service%> {
    script "killall -0 <%=@keepalived_service%>"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    interface eth0
    state <%=@keepalived_state%>
    virtual_router_id <%=@keepalived_router_id%>
    priority <%=@keepalived_priority%>
    virtual_ipaddress {
        <%=@keepalived_shared_ip%>
    }

    track_script {
        chk_<%=@keepalived_service%>
    }
}